numpy
pandas
scikit-learn
statsmodels
mlflow
boto3
catboost
seaborn
scikit-uplift
scipy
matplotlib
altair-viewer
vega
altair_saver
fpdf

fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
