numpy
pandas
scikit-learn
statsmodels
mlflow
boto3
catboost
seaborn
scikit-uplift
scipy
matplotlib
altair-viewer
vega
altair_saver
fpdf

pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
