numpy
pandas
scikit-learn
statsmodels
mlflow
boto3
catboost
seaborn
scikit-uplift
scipy
matplotlib
altair-viewer
vega
altair_saver
fpdf

werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
